
* {
  box-sizing: border-box
}


body{
  padding: 0;
  margin:0;
  font-family: "sans-serif", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 0 50px;
}

.imageContainer{
 margin: 122px;
}

.closeSymbol{
  float: right;
    color: #ffff;
    font-size: 18px;
}

.actualImage{
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
}

.loaderImage{
  width: 150px;
  height: 150px;
  margin: 150px;
}
.loaderImage {
  animation: App-logo-spin infinite 3s ;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.contentContainer{
  margin: 220px 50px 220px 0;
  width: 418px;
}
.headertitle{
  font-weight: bold;
  font-size: 34px;
  text-align: justify;
}
.headertitle::after{
  display: inline-block;
  width: 100%;
}

.colorButtons{
  padding: 12px 0 12px 0;
}
.title1{
  font-size: 24px;
  font-weight: 500;
}
.title2{
  font-size: 18px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.blue{
  background-color: #2596be;
  margin: 10px 10px 10px 0;
  
}
.pink {
  background:#d82d88;
  margin: 10px 0px 10px 0px;
}
.yellow {
  background:#fed144
  ;
  margin: 10px 0px 10px 10px;
}

.uploadButton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  color: #FFF;
  padding: 20px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-size: medium;
  margin-top: 30px;
}

.uploadImg  {
  float: left;
  height: 20px;
  width: 20px;
  color: #FFF;
}
.uploadLoader{
  float: left;
  height: 20px;
  width: 20px;
  color: #FFF;
}
.uploadLoader {
  animation: App-logo-spin infinite 3s ;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logoImage{
  position: absolute;
    height: 40px;
    width: 80px;
    z-index: 25;
    margin-left: 201px;
    margin-top: 423px;
}

